<aside>
    <a class="button" href="/birds">Home</a>
    <a class="button" href="/birds/create">CREATE BIRD</a>
    <form id="searchForm" action="/birds/search" method="GET">
        <label for="bird_identifier">Enter Bird Name or ID:</label>
        <input type="text" id="bird_identifier" name="bird_identifier" required>
        <button class="button" "submit">Search</button>
    </form>

    <% if (status !== null) { %>
        <h2>Conservation Status</h2>
        <ul>
            <% for (let i = 0; i < status.length; i++) { %>
                <li style="position: relative;">
                    <div class="circle-small" style="background: <%= status[i].status_colour %>"></div>
                    <span><%= status[i].status_name %></span>
                </li>
            <% } %>
        </ul>
        <p>Conservation status from <a href="https://www.doc.govt.nz/nature/conservation-status/">DOC website</a></p>
    <% } %>

</aside>